DATABASE_URL="postgresql://postgres:idvision321@localhost:5432/mydb?schema=public"
JWT_SECRET=dkwjak3j21lmkmcsij3sss
NEXTAUTH_SECRET=n231nk3218jdsakl!!w

NEXT_PUBLIC_WEBSOCKET_URL=ws://192.168.1.9:8083/mqtt
NEXT_PUBLIC_BROKER_URL=mqtt://192.168.1.9:1883
